*.safetensors
*.bin
!setup.py
*.zip
*.mp4
Video-R1-data/
Qwen2.5-VL-7B-COT-SFT/
log/
wandb/
debug_log*.txt
__pycache__/
*.pyc
*.egg-info/
.DS_Store
miniconda.sh
transformers-main/
transformers-main.zip
MMVU/
.ipynb_checkpoints/
